@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
  list-style: none;
}

.wrapper-inner {
  padding: 0 25vw;
}

.main hr {
  background-color: #dadde1;
  height: 1px;
  width: 40%;
}

.main__photo-and-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  padding-top: 5vw;
}

.main__photo {
  position: relative;
}

.main__photo img + img {
  position: absolute;
  left: 7.65vw;
  top: 4.94vw;
}

.main__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main__login {
  text-align: center;
  padding: 1vw 2vw;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 3px;
}

.main__login > h1 {
  font-size: 3vw;
  font-family: 'Dancing Script';
  margin-bottom: 2vw;
}

.main__login > input {
  display: block;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
  border: 1px solid grey;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 2px #e7f3ff;
          box-shadow: 0 0 0 2px #e7f3ff;
  font-size: 0.5vw;
  margin-bottom: 0.5vw;
  padding: 0.5vw;
  width: 15vw;
}

.main__login > button {
  background-color: #0095f6;
  border-radius: 5px;
  color: white;
  font-size: 1vw;
  font-weight: bold;
  padding: 0.3vw;
  margin-top: 0.7vw;
  width: 100%;
}

.main__or {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1vw;
}

.main__or > span {
  margin: 0 1vw;
  color: #8e8e8e;
  font-size: 0.7vw;
  font-weight: bold;
}

.main__login-facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1vw 0;
}

.main__login-facebook img {
  margin-right: 0.5vw;
}

.main__login-facebook > a, .main__login-facebook + a, .main__login-facebook > a:active, .main__login-facebook + a:active {
  color: #385185;
}

.main__login-facebook + a {
  font-size: 0.7vw;
}

.main__registration {
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 3px;
  text-align: center;
  padding: 1vw;
}

.main__registration a, .main__registration a:active {
  color: #0095f6;
}

.footer {
  color: #8e8e8e;
  margin-top: 7vw;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.6vw;
  margin: 1vw 0;
}

.footer__item {
  margin: 0 0.5vw;
}

.footer__item a, .footer__item a:active {
  color: #8e8e8e;
}
/*# sourceMappingURL=style.css.map */