<main class="main">
  <nav class="nav">
    <header class="nav__header">
      <img src="../assets/images/decorative/navbar/BuyNan.svg">
      <h1 class="nav__company-name">BuyNan</h1>
    </header>
    <ul class="nav__list">
      <li class="nav__item">
        <img src="../assets/images/decorative/navbar/icon_groceries.svg" width="24px" height="24px">
        <h2 class="nav__item-name">Products</h2>
      </li>
      <li class="nav__item">
        <img src="../assets/images/decorative/navbar/icon_clipboard.svg" width="24px" height="24px">
        <h2 class="nav__item-name">Categories</h2>
      </li>
      <li class="nav__item">
        <img src="../assets/images/decorative/navbar/icon_users.svg" width="24px" height="24px">
        <h2 class="nav__item-name">Providers</h2>
      </li>
      <li class="nav__item">
        <img src="../assets/images/decorative/navbar/icon_logout.svg" width="24px" height="24px">
        <h2 class="nav__item-name">Logout</h2>
      </li>
    </ul>
  </nav>

  <header>
    <section>
      <div class="">
        <img src="" alt="">
        <h3>Login</h3>
      </div>
    </section>
    <section>
      <div class="">
        <input type="text" placeholder="Search" name="" id="">
        <button>
          <img src="" alt="">
        </button>
      </div>
      <div class="">
        <button>
          <img src="" alt="">
          <h3>Create</h3>
        </button>
      </div>
    </section>
  </header>

  <article>
    <section>
      <!-- <Product>
         
      </Product> -->
    </section>
  </article>
</main>